
.footer{

    
    display: flex;

        
    
    
    
}

.footeritems
{color: antiquewhite;
text-align: justify;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;

  
}

.footeritems:nth-child(1){background: #160b41;}
.footeritems:nth-child(2){background: #1d0505;}
.footeritems:nth-child(3){background: #073f07;}
.footeritems:nth-child(4){background: #313d06;}

.navbar-brand{

    color: white !important;
    font-size: 30px;
}

.nav-link{
    font-size: 20px;
    font-weight: bold;
float:right !important;
}